spring:
  application:
    name: authservice
  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  database: mysql
  database-platform: org.hibernate.dialect.MySQL8Dialect

application:
  security:
    jwt:
      secret-key: U9gdFO7BiIYHfohZHgbkkPE5OFoOC93k9GMpNqYk450
      access-token-expiration: 900000

redis:
  data:
    host: localhost
    port: 6379
    password: password

server:
  port: 8081

internal:
  key: FDpj4KY40OdYE2JKabJxWtzyaGWQnmqGchuyewARfPj